<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
               <div class="product-card">
                 <div class="bg d-flex justify-content-center align-items-center">
                    <img src="assets/headphone.png">
                 </div>
                 <div class="data mt-5 ps-3">
                    <h2 class="prod-title">Adidas Originals</h2>
                 </div>

                 <div class="data mt-1 ps-3">
                    <p class="prod-price"> <del>25$</del> <span> 124$ </span> </p>
                 </div>

                 <div class="data mt-1 pe-3 d-flex justify-content-end">
                    <button class="cart-btn" (click)="newMessage()"> Add To Cart </button>
                 </div>

                 <div class="discount">9%</div>
                </div>
            </div>

            <div class="col">
              <input type="text">
              <ul id="suggetion"></ul>
            </div>
        </div>
    </div>
</section>
